/* classe pour le fond d'écran du plateau  */
#masthead {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%), url(../../assets/chateau.png);
  background-size: cover;
  position: fixed;
  z-index: 0;
  top: 0;
}

#titre {
  text-align: center;
  color: white;
  font-size: 70px;
  margin-top: 0;
  z-index: 1;
}
