table {
  border-collapse: collapse;
  margin: -1vmin auto;
  z-index: 1;
}

td {
  border: solid 3px white;
  display: table-cell;
  width: 20vmin;
  height: 20vmin;
  text-align: center;
}

h3 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: -1vmin;
}

.persos {
  height: 18vmin;
  width: 18vmin;
  //border: 100px;
}

.miniPerso {
  height: 8vmin;
  width: 8vmin;
}

.gentil {
  background-image: url("../../assets/spyro.png");
  background-size: cover;
}

.mechant {
  background-image: url("../../assets/ripto.png");
  background-size: cover;
}

.reset {
  height: 10vmin;
  width: 10vmin;
  margin: 2vmin auto;
}

.bouton {
  background-image: url("../../assets/orbe.png");
  background-size: cover;
}
