/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

//$theme: "spyro";
//$theme: "anneau";
$theme: "harry";

@font-face {
  font-family: "morpion";
  src: url("assets/polices/" + $theme + ".ttf");
}

html, body { height: 100%; }
body { margin: 0; font-family: morpion, sans-serif; }
