/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "ringm";
  src: url(assets/RINGM.ttf);
}

html, body { height: 100%; }
body { margin: 0; font-family: ringm, sans-serif; }

